@model IEnumerable<SCB_TKMIDIA.Models.SalaBilheteria>

@using (Html.BeginForm("IndexRendas" ,"BILHETERIA" ,FormMethod.Post ,htmlAttributes: new { id = "frmPesq" }))
{

    <table class="table small">
        <tr style="vertical-align:middle">
            <td>
                <br />
                <p style="color:mediumblue;font-size:x-large" id="LabelRendas">Bilheteria e Rendas - @ViewBag.bil_dia_cin</p>
            </td>
            <td style="text-align:right; vertical-align:middle">
                <br />
                <label>Dia Cinematofráfico:</label> &nbsp;
            </td>
            <td style="text-align:right;width:auto;padding-left:0;padding-right:0">
                <br />
                <a href="#" style="color:blue" id="btnMais" name="btnMais" class="btn btn-default btn-sm" role="button" onclick="javascript:Menos1()"><b>- 1</b></a>
            </td>
            <td style="width:150px;padding-left:0;padding-right:0">
                <br />
                @Html.TextBox("BIL_DIA_CIN" ,ViewBag.bil_dia_cin as string ,htmlAttributes: new { @class = "form-control input-sm" ,id = "BIL_DIA_CIN" ,maxlength = "10" ,style = "text-align:center; width:150px" ,autocomplete = "off" })
            </td>
            <td style="text-align:left;width:auto;padding-left:0;padding-right:0">
                <br />
                <a href="#" style="color:blue" id="btnMais" name="btnMais" class="btn btn-default btn-sm" role="button" onclick="javascript:Mais1()"><b>+ 1</b></a>
            </td>
            <td>
                <br />
                <a href="#" id="btnPesquisar" name="btnPesquisar" class="btn btn-info btn-sm" onclick="$('#frmPesq').submit();">Pesquisar</a>
                &nbsp;&nbsp;
            </td>
            <td style="text-align:right">
                <br />
                <a href='#' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#myModal'>Enviar</a>
                <button id="btnAtuAncine" class="btn btn-danger btn-sm" role="button">Atualizar Ancine</button>
                <a href="/Bilheteria/Create" class="btn btn-success btn-sm">Lançar Renda</a>
            </td>
        </tr>
    </table>
}
<div class="modal fade" tabindex="-1" role="dialog" id="myModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Envio de Rendas</h4>
            </div>

            <table class="table" style="width:500px">
                <tr>
                    <td style="width:auto"></td>
                    <td style="text-align:left;width:auto;vertical-align:middle">
                        <input type="checkbox" checked="checked" id="chkAncine">
                        &nbsp;&nbsp;
                        <label>Envio para Ancine</label>
                    </td>
                    <td style="width:auto;text-align:left">
                        <div id="processandoAncine" style="text-align:left"><img id="imgProcessandoEnvioAncine" src="~/Images/loader8.gif" class="img" style="width:30px; height:30px; visibility:hidden" /></div>
                    </td>
                </tr>
                <tr>
                    <td style="width:auto"></td>
                    <td style="text-align:left;width:auto;vertical-align:middle">
                        <input type="checkbox" id="chkXML">
                        &nbsp;&nbsp;
                        <label>Gerar XML</label><br /> (Rendas com Status Validado - OK)
                    </td>
                    <td style="width:auto;text-align:left">
                        <div id="processandoXML" style="text-align:left"><img id="imgProcessandoEnvioXML" src="~/Images/loader8.gif" class="img" style="width:30px; height:30px; visibility:hidden" /></div>
                    </td>
                </tr>
                <tr>
                    <td style="width:150px"></td>
                    <td style="text-align:left;width:auto;vertical-align:middle">
                        <input type="checkbox" id="chkFTP">
                        &nbsp;&nbsp;
                        <label>Envio Via FTP</label><br /> (Rendas com Status Validado - OK)
                    </td>
                    <td style="width:auto;text-align:left">
                        <div id="processandoFTP" style="text-align:left"><img id="imgProcessandoEnvioFTP" src="~/Images/loader8.gif" class="img" style="width:30px; height:30px; visibility:hidden" /></div>
                    </td>
                </tr>
            </table>

            <div class="modal-footer">
                @*<div id="processando" style="text-align:center"><img id="imgProcessandoEnvio" src="~/Images/loader8.gif" class="img" style="width:50px; height:50px; visibility:hidden" /></div>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary " id="btnEnviar" name="btnEnviar">Enviar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table class="table small table-hover table-condensed">
    <tr class="info">
        <th>
            SALA
        </th>
        <th style="text-align:center">
            SITUAÇÃO SALA
        </th>
        <th style="text-align:center">
            SESSÕES
        </th>
        <th style="text-align:center">
            STATUS DE ENVIO
        </th>
        <th>RENDAS</th>
    </tr>

    @{
        string adimp = "";
        string status = "";
        string houve_ses = "";
        string retif = "";
        string sessoes = "";
        string RawBotoes = "";
        string qtdSessoes;
    }

    @foreach (var item in Model)
    {

        RawBotoes = "";

        adimp = item.BIL_ADIMP_SALA;
        status = item.BIL_STATUS_PROT;
        qtdSessoes = item.QTD_SES_SALA_DIA.ToString();
        houve_ses = item.BIL_HOUVE_SES;
        retif = item.BIL_RETIF;

        if (adimp == "V")
        {
            adimp = "<td style='text-align:center;color:green'>" + "Ok" + "</td>";
        }
        else
        {
            adimp = "<td style='text-align:center;color:red'>" + "Inadimplente" + "</td>";
        }

        sessoes = "<td style='text-align:center'>" + qtdSessoes + "</td>";

        if (qtdSessoes == "0" && (houve_ses == "" || houve_ses == null))
        {
            sessoes = "<td style='color:red;text-align:center'>Não Cadastrado</td>";
            status = "<td></td>";
        }
        else
        {
            RawBotoes = RawBotoes + "<a href='/BILHETERIA/Rendas?BIL_DIA_CIN=" + item.BIL_DIA_CIN.ToString() + "&SAL_CD=" + item.SAL_CD_ANCINE + "&SAL_DESC=" + item.SAL_DESC + "' class='btn btn-info btn-xs'><i class='fa fa-folder-open-o fa-lg' aria-hidden='true'></i></a>";

            if (houve_ses == "N")
            {
                sessoes = "<td style='text-align:center'>Dia Sem Sessão</td>";
            }

            if (status == "")
            {
                status = "<td style='text-align:center'>Não Enviado</td>";
            }
            else
            {
                if ((item.BIL_STATUS_ERRO != "" && item.BIL_STATUS_ERRO != null) || (item.BIL_STATUS_NAO_ACA != "" && item.BIL_STATUS_NAO_ACA != null) || (item.BIL_STATUS_RECUSADO != "" && item.BIL_STATUS_RECUSADO != null))
                {
                    status = "<td style='text-align:center;color:red'>Com Erro</td>";
                }
                else
                {
                    if (item.BIL_STATUS_ANALISE != "" && item.BIL_STATUS_ANALISE != null)
                    {
                        status = "<td style='text-align:center;color:blue'>Em Análise</td>";
                    }
                    else
                    {
                        if (item.BIL_STATUS_VAL != "" && item.BIL_STATUS_VAL != null)
                        {
                            status = "<td style='text-align:center;color:green'>Validado - OK</td>";
                        }
                        else
                        {
                            status = "<td></td>";
                        }
                    }
                }
            }

        }

        //if (houve_ses == "S")
        //{
        //    RawBotoes = RawBotoes + "<a href='/BILHETERIA/Rendas?BIL_DIA_CIN=" + item.BIL_DIA_CIN.ToString() + "&SAL_CD=" + item.SAL_CD_ANCINE + "&SAL_DESC=" + item.SAL_DESC + "' class='btn btn-info btn-xs'><span class='glyphicon glyphicon-folder-open' aria-hidden='true'></span></a>";
        //}


        <tr>
            <td>
                @item.SAL_DESC
            </td>
            @Html.Raw(adimp)
            @Html.Raw(sessoes)
            @Html.Raw(status)
            <td>@Html.Raw(RawBotoes)</td>
            @{ status = "";}
        </tr>
                }

</table>

@section Scripts 
{
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $(document).ready(function () {

        $('#BIL_DIA_CIN').datepicker({
            dateFormat: "dd/mm/yy",
            showStatus: true,
            showWeek: true,
            showOtherMonths: false,
            selectOtherMonths: true,
            autoSize: true,
            gotoCurrent: true,
            highlightWeek: true,
            nextText: 'Próximo',
            prevText: 'Anterior'
        });

        $("#LabelRendas").text("Bilheteria e Rendas - " + $('#BIL_DIA_CIN').val());

        $("#btnAtuAncine").click(function()
            {
            var txt_dia = document.getElementById('BIL_DIA_CIN');

            $.ajax({
                url: "/Bilheteria/AtualizaAncineByDate",
                data: { bIL_DIA_CIN: txt_dia.value },
                success: function (data) {
                    alert("Atualização Concluída!");
                    $('#btnPesquisar').trigger('click')
                }
            });
            }
        );

        $('#btnEnviar').click(function ()
        {
            var txt_dia = document.getElementById('BIL_DIA_CIN');
            var chkAncine = document.getElementById('chkAncine');

            if (chkAncine.checked == true) {

                var imgEnvio = document.getElementById('imgProcessandoEnvioAncine');
                imgEnvio.style.visibility = 'visible';

                $.ajax({
                    url: "/Bilheteria/SendByDate",
                    data: { bIL_DIA_CIN: txt_dia.value, chkAncine: chkAncine.checked },

                    success: function (data) {
                        imgEnvio.style.visibility = 'hidden';

                        if (data == 'OK') {
                            alert('Rendas enviadas com sucesso !');
                            $("#btnPesquisar").click();
                        }
                        else {
                            alert(data);
                            imgEnvio.style.visibility = 'hidden';
                        }


                    },
                    error: function (error) {
                        alert(error.status + ' - ' + error.statusText);
                        imgEnvio.style.visibility = 'hidden';
                    }
                });

            }


            if (chkXML.checked == true || chkFTP.checked == true) {

                if (chkXML.checked == true) {
                    var imgEnvio1 = document.getElementById('imgProcessandoEnvioXML');
                    imgEnvio1.style.visibility = 'visible';
                }

                if (chkFTP.checked == true) {
                    var imgEnvio2 = document.getElementById('imgProcessandoEnvioFTP');
                    imgEnvio2.style.visibility = 'visible';
                }

                $.ajax({
                    url: "/Bilheteria/SendByDateXMLFTP",
                    data: { bIL_DIA_CIN: txt_dia.value, chkXML: chkXML.checked, chkFTP: chkFTP.checked },

                    success: function (data) {

                        if (chkXML.checked == true) { imgEnvio1.style.visibility = 'hidden'; }
                        if (chkFTP.checked == true) { imgEnvio2.style.visibility = 'hidden'; }

                        if (data == 'OK') {

                            alert('Arquivos gerados com sucesso !');

                            $("#btnPesquisar").click();
                        }
                        else {
                            alert(data);
                            if (chkXML.checked == true) { imgEnvio1.style.visibility = 'hidden'; }
                            if (chkFTP.checked == true) { imgEnvio2.style.visibility = 'hidden'; }
                        }


                    },
                    error: function (error) {
                        alert(error.status + ' - ' + error.statusText);
                        if (chkXML.checked == true) { imgEnvio1.style.visibility = 'hidden'; }
                        if (chkFTP.checked == true) { imgEnvio2.style.visibility = 'hidden'; }
                    }
                });


            }


        })

    });

    function Menos1() {

        var month;
        var day = "";
        var year;
        var from = "";

        var tmpData = $("#BIL_DIA_CIN").val();
        from = tmpData.toString();
        day = from.substring(0, 2);

        month = from.substring(3, 5);

        year = from.substring(6, 10);

        var myDate = new Date(year + "/" + month + "/" + day);
        myDate.setDate(myDate.getDate() - 1);

        $("#BIL_DIA_CIN").datepicker("setDate", myDate.toLocaleDateString());

        $("#btnPesquisar").click();
    }

    function Mais1() {

        var month;
        var day = "";
        var year;
        var from = "";

        var tmpData = $("#BIL_DIA_CIN").val();
        from = tmpData.toString();
        day = from.substring(0, 2);

        month = from.substring(3, 5);

        year = from.substring(6, 10);

        var myDate = new Date(year + "/" + month + "/" + day);
        myDate.setDate(myDate.getDate() + 1);

        $("#BIL_DIA_CIN").datepicker("setDate", myDate.toLocaleDateString());

        $("#btnPesquisar").click();

    }
        
    var myDate = new Date();
    var month;
    var day;
    var year;
    var dtIni;

    var txt_dia_cin = document.getElementById('BIL_DIA_CIN');

    if (txt_dia_cin.value == '')
    {
        day = myDate.getDate();
        month = myDate.getMonth() + 1;
        year = myDate.getFullYear();

        if (day.toString().length == 1)
            day = "0" + day;

        if (month.toString().length == 1)
            month = "0" + month;

        dtIni = day + '/' + month + '/' + year;

        SelectElement(dtIni, 'BIL_DIA_CIN');
    }

    function SelectElement(valueToSelect, objToSelect) {

        var element = document.getElementById(objToSelect);
        element.value = valueToSelect;
    }

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })

</script>

}