<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCB ANCINE TicketMidia</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <style>
        img {
            float: initial;
            margin: 10px 0 5px 5px;
        }
    </style>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/currency.min.js"></script>
    <script src="~/Scripts/datepicker-pt-BR.js"></script>
    <script src="~/Scripts/globalize.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jsticketmidia.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<img src="~/images/logoTicketMidia_new.bmp" />*@
                @Html.ActionLink("Início" ,"Index" ,"Home" ,new { area = "" } ,new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Rendas" ,"IndexRendas" ,"BILHETERIA")</li>
                    <li>@Html.ActionLink("Obras (Filmes)" ,"Index" ,"FILME")</li>
                    <li>@Html.ActionLink("Distribuidoras" ,"Index" ,"DISTRIBUIDORA")</li>
                    <li>@Html.ActionLink("Vendedor Remoto" ,"Index" ,"VENDEDOR_REMOTO")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="processando" hidden="hidden" style="text-align:center"><img id="imagemProcessando" src="~/Images/loader8.gif" class="img" style="width:50px; height:50px" /></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; SCB TicketMidia - Envio de Rendas ANCINE V2 - Agosto 2017.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts",required: false)
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        for (i = 0; i < document.forms.length; i++) {
            var objForm = document.forms[i];
            $(objForm).on("submit", function () {
                $('#processando').css({ display: 'block' });
            })
        }

        for (i = 0; i < document.links.length; i++)
        {
            var objLink = document.links[i];

            if ($(objLink).attr('href').slice(1) != "")
            {
                //alert($(objLink).attr('href').slice(1));

                $(objLink).on("click", function ()
                {
                    $('#processando').css({ display: 'block' });
                })
            }
        }
    });

</script>